<h3>Settings</h3>

<p>Only show birds that have been
seen this many times:</p>


<form action="/settings" method="post">

   <input type="text" name="name" placeholder='2'><br>
   <input type="submit" value="Set It!">

</form>

<a style="text-decoration:none" href = "list">(Back to Birds)</a>